https://keras.io/
#keras for starting
https://pytorch.org/
#for advance users
https://www.fast.ai/
#for players

In [ ]:
!nvidia-smi
#testla T4 processor simultaed (3mila euro di roba)

Fri Nov 25 12:30:03 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   35C    P8    10W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [ ]:
import numpy as np
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
#solve the digit recognition problem with the deep learning instead the shallow learning viewd yesterday
c = 10
input = (28,28,1)

#Why we can andle images now? Because we seem them as a vector, without additional 0 weigths
#quite simple database :
(x1,y1), (xt,yt) = keras.datasets.mnist.load_data()

In [ ]:
x1 = x1.astype("float32")
xt = xt.astype("float32")

In [ ]:
x1.shape
#we work direct with the entire dataset and this is a very good thing because the number of samples is no more relevant as before

(60000, 28, 28)

In [ ]:
#reshape my dataset, i have to expand the dimension
x1 = np.expand_dims(x1,-1)
x1.shape

(60000, 28, 28, 1)

In [ ]:
#do the same for xt
xt = np.expand_dims(xt,-1)
xt.shape

(10000, 28, 28, 1)

In [ ]:
#if the first output is 0 is not in the first class, and so on... multi class classification, multiple output, one for each class
#so i need to transform the target...
yl = keras.utils.to_categorical(yl,c)
yt = keras.utils.to_categorical(yt,c)

NameError: ignored

In [ ]:
yl.shape

In [ ]:
yl[1,:]

In [ ]:
#use a model that is already "developed"